<div class="page w-full mx-auto my-10 hidden" id="langDetails">

  <div class="w-11/12 mx-auto">
    <h3 class="underline font-semibold text-2xl">Language Details</h3>

    <div class="w-2/5 flex justify-between my-3 gap-2">
      <div class="w-[15%] flex justify-between">
        <input type="checkbox" name="language[]">
        <label>English</label>
      </div>
      <div class="w-[15%] flex justify-between">
        <input type="checkbox" name="language[]">
        <label>Read</label>
      </div>
      <div class="w-[15%] flex justify-between">
        <input type="checkbox" name="language[]">
        <label>Write</label>
      </div>
      <div class="w-[15%] flex justify-between">
        <input type="checkbox" name="language[]">
        <label>Speak</label>
      </div>
    </div>

    <div class="w-2/5 flex justify-between my-3 gap-2">
      <div class="w-[15%] flex justify-between">
        <input type="checkbox" name="language[]">
        <label>Hindi</label>
      </div>
      <div class="w-[15%] flex justify-between">
        <input type="checkbox" name="language[]">
        <label>Read</label>
      </div>
      <div class="w-[15%] flex justify-between">
        <input type="checkbox" name="language[]">
        <label>Write</label>
      </div>
      <div class="w-[15%] flex justify-between">
        <input type="checkbox" name="language[]">
        <label>Speak</label>
      </div>
    </div>

    <div class="w-2/5 flex justify-between my-3 gap-2">
      <div class="w-[15%] flex justify-between">
        <input type="checkbox" name="language[]">
        <label>Gujrati</label>
      </div>
      <div class="w-[15%] flex justify-between">
        <input type="checkbox" name="language[]">
        <label>Read</label>
      </div>
      <div class="w-[15%] flex justify-between">
        <input type="checkbox" name="language[]">
        <label>Write</label>
      </div>
      <div class="w-[15%] flex justify-between">
        <input type="checkbox" name="language[]">
        <label>Speak</label>
      </div>
    </div>

  </div>
</div>