<div class="page w-full mx-auto my-10 hidden" id="preferenceDetails">

  <div class="w-11/12 mx-auto">
    <h3 class="underline font-semibold text-2xl">Preference Details</h3>

    <div class="w-[70%] flex justify-between my-3 gap-10">
      <div class="w-2/5 flex justify-between">
        <label>prefer locations</label>
        <select class="border-2 border-black" multiple>
          <option>Select Three cities</option>
          <option>Ahmedabad</option>
          <option>Gandhinagar</option>
          <option>Rajkot</option>
          <option>Surat</option>
          <option>Vapi</option>
        </select>      
      </div>
      <div class="w-2/5 flex justify-between">
        <label>Select Department</label>
        <select class="w-3/5 h-2/5">
          <option>select Department</option>
          <option>Developer</option>
          <option>Designer</option>
          <option>Marketing</option>
        </select>
      </div>
    </div>

    <div class="w-[90%] flex justify-between my-3 gap-10">
      <div class="w-[33%] flex justify-between">
        <label>Notice Period</label>
        <input type="text" name="board[]" class="border-2" placeholder="Enter Notice Period">
      </div>
      <div class="w-[28%] flex justify-between">
        <label>Expected CTC</label>
        <input type="text" name="year[]" class="border-2" placeholder="Enter expected annual ctc">
      </div>
      <div class="w-[28%] flex justify-between">
        <label>Current CTC</label>
        <input type="text" name="percentage[]" class="border-2" placeholder="Enter current annual ctc">
      </div>
    </div>

  </div>
</div>