<div class="page w-full mx-auto my-10 hidden" id="referDetails">

  <div class="w-11/12 mx-auto">
    <h3 class="underline font-semibold text-2xl">Reference Details</h3>

    <div class="w-[90%] flex justify-between my-3 gap-3">
      <div class="w-[33%] flex justify-between">
        <label>refer Name</label>
        <input type="text" name="board[]" class="border-2" placeholder="Enter refer Name">
      </div>
      <div class="w-[28%] flex justify-between">
        <label>Contact No</label>
        <input type="text" name="year[]" class="border-2" placeholder="Enter contact No">
      </div>
      <div class="w-[28%] flex justify-between">
        <label>refer Relation</label>
        <input type="text" name="percentage[]" class="border-2" placeholder="Enter refer Relation">
      </div>
    </div>

  </div>
</div>