<div class="page w-full mx-auto hidden" id="techDetails">

  <div class="w-11/12 mx-auto">
    <h3 class="underline font-semibold text-2xl">Technology Details</h3>

    <div class="w-2/5 flex justify-between my-3 gap-2">
      <div class="w-[15%] flex justify-between">
        <input type="checkbox" name="language[]">
        <label>php</label>
      </div>
      <div class="w-[15%] flex justify-between">
        <input type="checkbox" name="language[]">
        <label>beginner</label>
      </div>
      <div class="w-[15%] flex justify-between">
        <input type="checkbox" name="language[]">
        <label>mediator</label>
      </div>
      <div class="w-[15%] flex justify-between">
        <input type="checkbox" name="language[]">
        <label>expert</label>
      </div>
    </div>

    <div class="w-2/5 flex justify-between my-3 gap-2">
      <div class="w-[15%] flex justify-between">
        <input type="checkbox" name="language[]">
        <label>laravel</label>
      </div>
      <div class="w-[15%] flex justify-between">
        <input type="checkbox" name="language[]">
        <label>beginner</label>
      </div>
      <div class="w-[15%] flex justify-between">
        <input type="checkbox" name="language[]">
        <label>mediator</label>
      </div>
      <div class="w-[15%] flex justify-between">
        <input type="checkbox" name="language[]">
        <label>expert</label>
      </div>
    </div>

    <div class="w-2/5 flex justify-between my-3 gap-2">
      <div class="w-[15%] flex justify-between">
        <input type="checkbox" name="language[]">
        <label>mysql</label>
      </div>
      <div class="w-[15%] flex justify-between">
        <input type="checkbox" name="language[]">
        <label>beginner</label>
      </div>
      <div class="w-[15%] flex justify-between">
        <input type="checkbox" name="language[]">
        <label>mediator</label>
      </div>
      <div class="w-[15%] flex justify-between">
        <input type="checkbox" name="language[]">
        <label>expert</label>
      </div>
    </div>

    <div class="w-2/5 flex justify-between my-3 gap-2">
      <div class="w-[15%] flex justify-between">
        <input type="checkbox" name="language[]">
        <label>oracle</label>
      </div>
      <div class="w-[15%] flex justify-between">
        <input type="checkbox" name="language[]">
        <label>beginner</label>
      </div>
      <div class="w-[15%] flex justify-between">
        <input type="checkbox" name="language[]">
        <label>mediator</label>
      </div>
      <div class="w-[15%] flex justify-between">
        <input type="checkbox" name="language[]">
        <label>expert</label>
      </div>
    </div>

  </div>
</div>