<div class="page w-full mx-auto my-10 hidden" id="workDetails">

  <div class="w-11/12 mx-auto">
    <h3 class="underline font-semibold text-2xl">Work Experience Details</h3>
    <div class="w-[70%] flex justify-between my-3">
      <div class="w-2/5 flex justify-between">
        <label>Company Name</label>
        <input type="text" name="firstName" class="border-2" placeholder="Enter Company Name" />
      </div>
      <div class="w-2/5 flex justify-between">
        <label>Designation</label>
        <input type="text" name="lastName" class="border-2" placeholder="Enter Designation" />
      </div>
    </div>

    <div class="w-[70%] flex justify-between my-3">
      <div class="w-2/5 flex justify-between">
        <label>Start Date</label>
        <input type="text" name="email" class="border-2" placeholder="Enter start date" />
      </div>
      <div class="w-2/5 flex justify-between">
        <label>End Date</label>
        <input type="text" name="mobileNo" class="border-2" placeholder="Enter end date" />
      </div>
    </div>

  </div>
</div>