<html>
  <head>
    <title>JS Task 2 Nitin Mujpara</title>
    <style>
      body {
        text-align: center;
        background-color: rgb(46, 139, 87);;
      }

      #main{
        background-color: rgb(220, 228, 226);
        padding:5px;
      }

      table {
        border: 5px solid black;
        border-collapse: collapse;
        margin-bottom: 30px;
      }
      tr,
      td {
        height: 50px;
        width: 50px;
        border: 5px solid black;
      }
      #display {
        display: inline-flex;
      }
      #sorc {
        padding-left: 820px;
      }
    </style>
  </head>
  <body>
    <div id="game">
      <h1>JS Task 2 Nitin Mujpara 2/2/2024 24DEV084</h1>
      <center>
        <div id="display">
          <p>Time Limit :-</p>
          <p id="seconds"></p>
          <p id="sorc">Scores :-</p>
          <p id="Scores"></p>
        </div>
        <table>
          <tr>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td></td>
            <td></td>
          </tr>
        </table>
        <br><br>
        <button onclick="handlegame()" id="btns">Start Game</button><br><br>
        <a id="main" href="/student/">Click Here To Redirect Home Page</a>  

      </center>
    </div>
  </body>

  <script>
   var time;
let number = 0;
let timelimit = 20;
const currtime = document.getElementById("seconds")
const btn = document.createElement("button");
const body = document.getElementsByTagName("body");
btn.addEventListener("click",playagain);

function playagain(){
    window.location.reload();
}
    
function restart(){
    document.getElementById("game").innerHTML = "<h2>Your Score is :- "+number+"</h2>";
    btn.id = "resetbutton";
    btn.innerHTML = "Play Again...";

    document.body.appendChild(btn);
    document.body.style.backgroundColor = "lightblue";    
}


function handlegame(){

    time = setInterval(countdown,1000);

    const td = document.querySelectorAll("td");
    // const tr = document.querySelectorAll("tr");

    const randombox = Math.floor(Math.random() * ((td.length-1) - 0 + 1) ) + 0;
    // const randomcol = Math.floor(Math.random() * ((td.length-1) - 0 + 1) ) + 0;
    // const randomrow = Math.floor(Math.random() * ((td.length-1) - 0+ 1) ) + 0;
    // console.log(randomcol + " Random Column Number ");
    // console.log(randomrow + " Random Row Number");


    addlistner(randombox,td);

}

    function countdown(){
        if(timelimit == 0){        
            restart();

        }else{
            currtime.innerHTML = timelimit + " Sec Remain";
            timelimit--;
        }
    }


function addlistner(randombox,td){
    const color = cordinategenrator();

    for(i =0; i < td.length ;i++){
        // td[i].innerHTML = i;
        
        if(randombox == i){
            // console.log("Page Hit");
            // td[i].innerHTML = "Nitin";
            //   number++;
            td[i].style.backgroundColor = "rgb(" + color.r + "," + color.g + "," + color.b + ")";
            td[i].style.opacity = "0.8";
        }else{
            td[i].style.backgroundColor = "rgb(" + color.r + "," + color.g + "," + color.b + ")";
            td[i].style.opacity = "1";
            td[i].removeEventListener("click",increasesquare,true);
        }
        td[randombox].addEventListener("click",increasesquare,true);
    }
}

function cordinategenrator(){
    const r = Math.floor(Math.random()*((255-0+1)+0));
    const g = Math.floor(Math.random()*((255-0+1)+0));
    const b = Math.floor(Math.random()*((255-0+1)+0));

    return {r,b,g}
}


function increasesquare(){

    const table = document.getElementsByTagName("table");
    const tr = table[0].getElementsByTagName("tr");
    const td = tr[0].getElementsByTagName("td");

    addcolumn(table,tr,td);
    addrow(table,tr,td);
    handlegame();
    number++;
    document.getElementById("Scores").innerHTML = number + " Score";

    

    
}

// Add Row Function
function addrow(table,tr,td){
    table[0].appendChild(document.createElement("tr"));
    
    for(i=0;i<td.length;i++){
        if(td.length <= 10){
            table[0].lastChild.appendChild(document.createElement("td"));
        }else{
            restart();
        }
    }
}
// Add Column Function
function addcolumn(table,tr,td){

    for(i=0;i<tr.length;i++){
        if(tr.length <= 10){
            tr[i].appendChild(document.createElement("td"));
        }else{
            restart();
        }
    }
}

  </script>
</html>
