<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Delimiter Search</title>
  <link rel="stylesheet" href="/css/output.css" />

</head>

<body>

  <h3 class="font-semibold text-center my-10">Delimiter Searching Nitin Mujpara 10/03/24 24DEV084</h3>

  <div class="w-10/12 flex mx-auto my-10 justify-between">
    <div class="relative overflow-x-auto shadow-md sm:rounded-lg">
      <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
        <thead class="text-xs text-gray-700 uppercase dark:text-gray-400">
          <tr class="border-b border-gray-200 dark:border-gray-700">
            <th scope="col" class="px-6 py-3 bg-gray-50 dark:bg-gray-800">
              Column Names
            </th>
            <th scope="col" class="px-6 py-3">Symbols</th>
          </tr>
        </thead>
        <tbody>
          <tr class="border-b border-gray-200 dark:border-gray-700">
            <th scope="row"
              class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap bg-gray-50 dark:text-white dark:bg-gray-800">
              FirstName
            </th>
            <td class="px-6 py-4">_</td>
          </tr>
          <tr class="border-b border-gray-200 dark:border-gray-700">
            <th scope="row"
              class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap bg-gray-50 dark:text-white dark:bg-gray-800">
              LastName
            </th>
            <td class="px-6 py-4">^</td>
          </tr>
          <tr class="border-b border-gray-200 dark:border-gray-700">
            <th scope="row"
              class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap bg-gray-50 dark:text-white dark:bg-gray-800">
              email
            </th>
            <td class="px-6 py-4">$</td>
          </tr>
          <tr class="border-b border-gray-200 dark:border-gray-700">
            <th scope="row"
              class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap bg-gray-50 dark:text-white dark:bg-gray-800">
              mobile No
            </th>
            <td class="px-6 py-4">#</td>
          </tr>
        </tbody>
      </table>
    </div>

    <div>
      <form id="search">
        <input type="text" id="searchValue" name="search" class="border-2 border-black rounded-lg" placeholder="Enter Your Search value Here"/>
        <input type="button" value="search" onclick="searchResult()">
      </form>
    </div>
  </div>


  <div class="w-10/12 mx-auto my-6">
    <div class="relative overflow-x-auto shadow-md sm:rounded-lg">
      <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
        <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
          
          <th scope="col" class="px-6 py-3">
            <div class="flex items-center">
              <span>Sr.No</span>
              <div class="mx-2">
                <span id="id-up" class="arrow">
                  <svg xmlns="http://www.w3.org/2000/svg" class="h-3 w-3" viewBox="0 0 24 24" style="fill: rgb(216, 213, 213);transform: ;msFilter:;"><path d="M3 19h18a1.002 1.002 0 0 0 .823-1.569l-9-13c-.373-.539-1.271-.539-1.645 0l-9 13A.999.999 0 0 0 3 19z"></path></svg>
                </span>
                
                <span id="id-down" class="arrow">
                  <svg xmlns="http://www.w3.org/2000/svg" class="h-3 w-3" viewBox="0 0 24 24" style="fill: rgb(216, 213, 213);transform: ;msFilter:;"><path d="M11.178 19.569a.998.998 0 0 0 1.644 0l9-13A.999.999 0 0 0 21 5H3a1.002 1.002 0 0 0-.822 1.569l9 13z"></path></svg>
                </span>
              </div>
            </div>
          </th>
          
          <th scope="col" class="px-6 py-3" onclick="changeOrder('surname')">
            <div class="flex items-center">
              <span>surname</span>
              <div class="mx-2">
                <span id="surname-up" class="arrow">
                  <svg xmlns="http://www.w3.org/2000/svg" class="h-3 w-3" viewBox="0 0 24 24" style="fill: rgb(216, 213, 213);transform: ;msFilter:;"><path d="M3 19h18a1.002 1.002 0 0 0 .823-1.569l-9-13c-.373-.539-1.271-.539-1.645 0l-9 13A.999.999 0 0 0 3 19z"></path></svg>
                </span>
                
                <span id="surname-down" class="arrow">
                  <svg xmlns="http://www.w3.org/2000/svg" class="h-3 w-3" viewBox="0 0 24 24" style="fill: rgb(216, 213, 213);transform: ;msFilter:;"><path d="M11.178 19.569a.998.998 0 0 0 1.644 0l9-13A.999.999 0 0 0 21 5H3a1.002 1.002 0 0 0-.822 1.569l9 13z"></path></svg>
                </span>
              </div>
            </div>
          </th>
          
          <th scope="col" class="px-6 py-3" onclick="changeOrder('name')">
            <div class="flex items-center">
              <span>name</span>
              <div class="mx-2">
                <span id="name-up" class="arrow">
                  <svg xmlns="http://www.w3.org/2000/svg" class="h-3 w-3" viewBox="0 0 24 24" style="fill: rgb(216, 213, 213);transform: ;msFilter:;"><path d="M3 19h18a1.002 1.002 0 0 0 .823-1.569l-9-13c-.373-.539-1.271-.539-1.645 0l-9 13A.999.999 0 0 0 3 19z"></path></svg>
                </span>
                
                <span id="name-down" class="arrow">
                  <svg xmlns="http://www.w3.org/2000/svg" class="h-3 w-3" viewBox="0 0 24 24" style="fill: rgb(216, 213, 213);transform: ;msFilter:;"><path d="M11.178 19.569a.998.998 0 0 0 1.644 0l9-13A.999.999 0 0 0 21 5H3a1.002 1.002 0 0 0-.822 1.569l9 13z"></path></svg>
                </span>
              </div>
            </div>
          </th>

          <th scope="col" class="px-6 py-3" onclick="changeOrder('fatherName')">
            <div class="flex items-center">
              <span>fatherName</span>
              <div class="mx-2">
                <span id="fatherName-up" class="arrow">
                  <svg xmlns="http://www.w3.org/2000/svg" class="h-3 w-3" viewBox="0 0 24 24" style="fill: rgb(216, 213, 213);transform: ;msFilter:;"><path d="M3 19h18a1.002 1.002 0 0 0 .823-1.569l-9-13c-.373-.539-1.271-.539-1.645 0l-9 13A.999.999 0 0 0 3 19z"></path></svg>
                </span>
                
                <span id="fatherName-down" class="arrow">
                  <svg xmlns="http://www.w3.org/2000/svg" class="h-3 w-3" viewBox="0 0 24 24" style="fill: rgb(216, 213, 213);transform: ;msFilter:;"><path d="M11.178 19.569a.998.998 0 0 0 1.644 0l9-13A.999.999 0 0 0 21 5H3a1.002 1.002 0 0 0-.822 1.569l9 13z"></path></svg>
                </span>
              </div>
            </div>
          </th>

          <th scope="col" class="px-6 py-3" onclick="changeOrder('email')">
            <div class="flex items-center">
              <span>email</span>
              <div class="mx-2">
                <span id="email-up" class="arrow">
                  <svg xmlns="http://www.w3.org/2000/svg" class="h-3 w-3" viewBox="0 0 24 24" style="fill: rgb(216, 213, 213);transform: ;msFilter:;"><path d="M3 19h18a1.002 1.002 0 0 0 .823-1.569l-9-13c-.373-.539-1.271-.539-1.645 0l-9 13A.999.999 0 0 0 3 19z"></path></svg>
                </span>
                
                <span id="email-down" class="arrow">
                  <svg xmlns="http://www.w3.org/2000/svg" class="h-3 w-3" viewBox="0 0 24 24" style="fill: rgb(216, 213, 213);transform: ;msFilter:;"><path d="M11.178 19.569a.998.998 0 0 0 1.644 0l9-13A.999.999 0 0 0 21 5H3a1.002 1.002 0 0 0-.822 1.569l9 13z"></path></svg>
                </span>
              </div>
            </div>
          </th>

          <th scope="col" class="px-6 py-3" onclick="changeOrder('mobileNo')">
            <div class="flex items-center">
              <span>mobileNo</span>
              <div class="mx-2">
                <span id="mobileNo-up" class="arrow">
                  <svg xmlns="http://www.w3.org/2000/svg" class="h-3 w-3" viewBox="0 0 24 24" style="fill: rgb(216, 213, 213);transform: ;msFilter:;"><path d="M3 19h18a1.002 1.002 0 0 0 .823-1.569l-9-13c-.373-.539-1.271-.539-1.645 0l-9 13A.999.999 0 0 0 3 19z"></path></svg>
                </span>
                
                <span id="mobileNo-down" class="arrow">
                  <svg xmlns="http://www.w3.org/2000/svg" class="h-3 w-3" viewBox="0 0 24 24" style="fill: rgb(216, 213, 213);transform: ;msFilter:;"><path d="M11.178 19.569a.998.998 0 0 0 1.644 0l9-13A.999.999 0 0 0 21 5H3a1.002 1.002 0 0 0-.822 1.569l9 13z"></path></svg>
                </span>
              </div>
            </div>
          </th>

          <th scope="col" class="px-6 py-3" onclick="changeOrder('collegeName')">
            <div class="flex items-center">
              <span>College name</span>
              <div class="mx-2">
                <span id="collegeName-up" class="arrow">
                  <svg xmlns="http://www.w3.org/2000/svg" class="h-3 w-3" viewBox="0 0 24 24" style="fill: rgb(216, 213, 213);transform: ;msFilter:;"><path d="M3 19h18a1.002 1.002 0 0 0 .823-1.569l-9-13c-.373-.539-1.271-.539-1.645 0l-9 13A.999.999 0 0 0 3 19z"></path></svg>
                </span>
                
                <span id="collegeName-down" class="arrow">
                  <svg xmlns="http://www.w3.org/2000/svg" class="h-3 w-3" viewBox="0 0 24 24" style="fill: rgb(216, 213, 213);transform: ;msFilter:;"><path d="M11.178 19.569a.998.998 0 0 0 1.644 0l9-13A.999.999 0 0 0 21 5H3a1.002 1.002 0 0 0-.822 1.569l9 13z"></path></svg>
                </span>
              </div>
            </div>
          </th>

        </thead>
        <tbody id="tbody">
        </tbody>
      </table>
    </div>
  </div>

  <div class="flex justify-center my-3 underline"><a href="/student/">Click Here To Redirect Home Page</a></div> 

  <script>  
    const fetchdata = async (id,col,od) => {
      let page = id || 1;
      let column = col || "id";
      let order = od || "asc";

      let data = await fetch(`/student/orderBy/${page}/${column}/${order}`, {
        method:"GET",
        headers:{
          "Content-Type":"application/json"
        }
      })

      let res = await data.json();

      let studentData = res.students;

      let tbody = document.getElementById('tbody');
      tbody.innerHTML = "";


      studentData.map((item) => {
        let tr = document.createElement('tr');
        tr.classList.add('odd:bg-white','odd:dark:bg-gray-900','even:bg-gray-50','even:dark:bg-gray-800','border-b','dark:border-gray-700')
        Object.values(item).map((val) => {
          let td = document.createElement('td');
          td.textContent = val;
          td.classList.add('px-6','py-3');
          tr.appendChild(td);
        })
        tbody.appendChild(tr);
      })

    }

    fetchdata();


    const searchResult = async () => {
      let formData = document.getElementById('search');

      let searchData = new FormData(formData);

      let params = new URLSearchParams(searchData);

      console.log(params);

      let result = await fetch("/student/delimiter",{
        method:"post",
        headers:{
          'Content-Type': 'application/x-www-form-urlencoded',
        },
        body:params
      })

      res = await result.json();

      let studentData = res.students;

      let tbody = document.getElementById('tbody');
      tbody.innerHTML = "";

      studentData.map((item) => {
        let tr = document.createElement('tr');
        tr.classList.add('odd:bg-white','odd:dark:bg-gray-900','even:bg-gray-50','even:dark:bg-gray-800','border-b','dark:border-gray-700')
        Object.values(item).map((val) => {
          let td = document.createElement('td');
          td.textContent = val;
          td.classList.add('px-6','py-3');
          tr.appendChild(td);
        })
        tbody.appendChild(tr);
      })

    }

  </script>

</body>

</html>